<section id="download" class="download bg-primary text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">Discover how the knowledge from published maps has spread across the world!</h2>
                <p>See a demo application from here.</p>
                <div class="badges">
                    <a class="badge-link" href="#"><img src="/img/mapstreams_demo.PNG" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</section>
